/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#filters_div {
	padding: 15px;
	text-align: center;
}

#filters_div input {
	margin-top: 7px;
}

.panel-heading span {
	cursor: pointer;
}

#span-title {
	padding: 20px;
	font-size: 36px;
	font-weight: bold;
	vertical-align: middle;
}

#buttons a:visited[role=button] {
	color: white;
}

.help-inline {
	color: #a94442;
}

.navbar-default {
	background-color: #1e5c8d;
	color: white;
}

.navbar-default a:visited {
	color: white;
}

.navbar-default a:hover {
	color: yellow;
}

.navbar-brand img {
	margin-top: -17px;
	height: 50px;
	width: auto;
}

.footer {
	padding: 15px;
}

.well {
	background-color: #B1BDD3;
}

h4 a:visited {
	color: white;
}

.login-div {
	margin-top: 26px;
}

.navbar-default .navbar-nav li a {
	color: white;
}

body { padding-bottom: 70px; }
