<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada por cause de excesso de tentativas sem sucesso de login.</p>

<p>Clique no link a seguir para desbloquear a sua senha:</p>

<p><%= link_to 'Desbloquear minha Conta', unlock_url(@resource, unlock_token: @token) %></p>
